body {
    background: #1e1e1e;
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    font-size: 24px;
  }
  a {
      text-decoration: none;
      color: rgb(110, 102, 87);
  }
  
  h1 {
    color: white;
  }

  .adminka {
    color: #4a90e2;
  }

  .ui-form {
    display: inline-grid;
    max-width: 350px;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;
    background: white;
    border-radius: 15px;
    justify-items: center;
    margin: 20px;
  }
  .ui-form h3 {
    position: relative;
    z-index: 5;
    margin: 0 0 60px;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
  }
  .form-row {
    position: relative;
    margin-bottom: 40px;
  }
  .form-row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #ffffff;
    transition: all 0.2s ease;
  }
  .form-row label {
    position: absolute;
    left: 13px;
    color: #9d959d;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
  }
  .form-row input:focus {
    outline: 0;
    border-color: #F77A52;
  }
  .form-row input:focus+label, .form-row input:valid+label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
  }
  .ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  .ui-form p {
    margin: 0;
    padding-top: 10px;
  }
  .back{
    background-color: white;
    padding: 20px;
    border-radius: 15px;
  }

  input {
    border-radius: 4px;
    border: 2px solid rgb(0, 0, 0);
  }

